In [1]:
import pandas as pd
import numpy as np
Location = "datasets/gradedata.csv"
df = pd.read_csv(Location)

In [2]:
df.take(np.random.permutation(len(df))[:100])

,fname,lname,gender,age,exercise,hours,grade,address
326,Reese,Morales,male,19,2,8,71.2,"67 Pearl Ave., Georgetown, SC 29440"
1572,Bryar,Watson,female,14,1,11,80.8,"7348 Mechanic Court, Grosse Pointe, MI 48236"
1060,Linda,Arnold,female,16,5,8,82.0,"54 Hill Field Lane, Lebanon, PA 17042"
176,Quail,Bonner,female,18,5,6,68.0,"28 Hamilton Lane, Palos Verdes Peninsula, CA 9..."
1883,Jayme,Ferguson,female,19,2,12,90.7,"50 Overlook St., Burlington, MA 01803"
1097,Alexandra,Bowen,female,18,4,15,98.2,"385 Heritage Street, Buffalo Grove, IL 60089"
952,Lane,Keith,male,16,1,8,79.9,"8853 Stonybrook Road, Selden, NY 11784"
1302,Devin,Roberson,male,14,4,15,99.7,"1 Rosewood Rd., Neenah, WI 54956"
1069,Samuel,Spence,male,17,2,13,86.5,"654 Water Ave., Middletown, CT 06457"
222,Destiny,Hansen,female,18,1,17,91.9,"18 E. Chestnut Street, Sevierville, TN 37876"
540,Clarke,Mills,male,17,2,9,83.1,"311 Lookout Street, Fairburn, GA 30213"
382,Jacob,Gray,male,15,3,17,100.0,"8323 Alton Court, Clementon, NJ 08021"
1647,Gray,Harrison,male,17,2,9,71.2,"111 Pawnee Court, Potomac, MD 20854"
963,Hayley,Aguirre,female,19,4,14,85.8,"140 Trout Rd., Waterloo, IA 50701"
1137,Duncan,Noel,male,16,5,9,84.1,"9290 Lake Lane, Dunedin, FL 34698"
691,Penelope,Campos,female,18,1,9,73.0,"478 Pin Oak St., Bristol, CT 06010"
1555,Brenna,Lester,female,16,3,6,71.4,"86 Chestnut Ave., Pomona, CA 91768"
512,Kaitlin,Lane,female,15,3,10,71.0,"8740 East Grove Court, Union, NJ 07083"
1834,Phillip,Savage,male,19,2,19,100.0,"579 High Ridge Rd., Matawan, NJ 07747"
220,Audrey,Coffey,female,19,1,14,90.5,"496B West Sunnyslope St., Dalton, GA 30721"
1061,May,Sandoval,female,16,4,7,79.5,"62 N. Durham St., Palatine, IL 60067"
844,Aretha,Whitley,female,15,1,10,82.2,"656 San Carlos St., Windsor, CT 06095"
746,Chase,Wiley,male,14,1,13,90.8,"5 Second St., Dubuque, IA 52001"
1103,Lester,Mendoza,male,18,1,7,62.7,"7039 Depot Road, Massillon, OH 44646"
286,Mary,Estrada,female,18,2,9,74.0,"896 Riverview Dr., Clover, SC 29710"
104,Adrienne,Klein,female,18,3,12,77.3,"8653 Santa Clara Street, Columbus, GA 31904"
1485,Tucker,Kidd,male,16,5,11,83.9,"7267 Bow Ridge Lane, Sterling Heights, MI 48310"
1474,Tamara,Wright,female,17,5,8,74.2,"301 Elm Lane, Bowling Green, KY 42101"
702,Jonas,Bailey,male,16,5,14,85.6,"16 Alderwood Ave., Aliquippa, PA 15001"
704,Pascale,Ingram,female,14,4,3,76.5,"389 N. Pennington Street, Woodstock, GA 30188"
...,...,...,...,...,...,...,...,...
1391,Xavier,Jensen,male,18,2,8,79.4,"25 Trusel St., Dekalb, IL 60115"
1539,Isadora,Whitehead,female,14,1,7,75.0,"80 Valley View Lane, Cumberland, RI 02864"
1786,Neil,Carr,male,16,1,13,79.1,"61 Devonshire St., Cherry Hill, NJ 08003"
1564,Malachi,Reid,male,15,5,11,78.9,"61 Thorne Ave., Coram, NY 11727"
1283,Caldwell,Russell,male,16,3,12,91.2,"526 Walnut St., Saint Joseph, MI 49085"
91,Allistair,Rosales,male,14,4,3,67.0,"7825 Dogwood Dr., Norman, OK 73072"
114,Zeus,Ratliff,male,14,2,16,88.8,"8644 SW. Delaware St., Peabody, MA 01960"
1129,Nasim,Stuart,male,17,1,11,72.4,"466 Boston Drive, West Chester, PA 19380"
724,Ferdinand,Garcia,male,18,2,11,89.5,"151 Sherwood St., Livingston, NJ 07039"
1640,Nolan,Small,male,14,3,2,71.5,"9205 Myers Drive, Ellicott City, MD 21042"
1487,Karen,Melton,female,18,1,6,77.4,"399 East Primrose Ave., Canal Winchester, OH 4..."
1164,Gabriel,Chapman,male,16,1,9,86.3,"7594 N. Rock Creek Dr., Mahwah, NJ 07430"
878,Caleb,Mcmahon,male,15,3,12,93.3,"4 South Rock Maple Ave., Kingsport, TN 37660"
1183,Linda,Underwood,female,15,5,8,83.7,"644 North Randall Mill Rd., Memphis, TN 38106"
1318,Kylie,Rivers,female,14,5,13,88.2,"61 Woodside Dr., Groton, CT 06340"
1274,Samuel,Green,male,15,5,11,85.6,"8720 Brewery Street, Bay Shore, NY 11706"
372,Arthur,Morse,male,19,1,14,80.2,"823 St Paul Ave., Westfield, MA 01085"
783,Jerome,Cox,male,14,1,7,77.8,"723 Arcadia Lane, Princeton, NJ 08540"
126,Lewis,Jones,male,15,5,11,92.6,"520 Taylor St., Kalamazoo, MI 49009"
1346,Vielka,Crosby,female,17,4,18,98.0,"7776 Ketch Harbour Street, New Philadelphia, O..."
396,Preston,Church,male,17,1,8,66.1,"379 Sherman Ave., Lakewood, NJ 08701"
259,Gavin,Deleon,male,16,5,9,77.9,"32 East Harvey Street, Trussville, AL 35173"
343,Athena,Collins,female,17,1,4,71.3,"933 Alton St., Lynnwood, WA 98037"
1422,Kendall,Keith,female,18,1,18,87.2,"11 Cherry Lane, Brick, NJ 08723"
648,Tate,Crosby,male,19,3,3,68.6,"37 Virginia Court, Wilmette, IL 60091"
1684,Jocelyn,Byers,female,15,4,15,86.9,"16 Old Church Avenue, Fort Lauderdale, FL 33308"
1926,Lillith,Bradley,female,16,2,19,92.4,"50 Meadow Street, Hephzibah, GA 30815"
1507,Ferris,Avila,male,18,5,1,74.2,"85 Brown Drive, Pensacola, FL 32503"
764,Dolan,Maxwell,male,18,5,7,82.5,"223 Columbia Court, Taylors, SC 29687"
1758,Omar,Pittman,male,14,5,2,66.6,"281 Tower Street, Saint Johns, FL 32259"